** important **
- always update readme if the new options are added or changed.
- update the example to show new functionality, add new compontents if needed 
- store the output of the rendering in output folder